<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load static %}
		<title> Live Luxury Auctions </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

	<body>
		<div class="jumbotron text-center" style="color: white; background:#2F4F4F">
            <h1>Live Luxury Auctions</h1>
            <p>A diamond for each of your qualities.</p>
            <p>Stack and layer, mix and match delicate diamond jewelry to reflect all that you are.</p>
		</div>

        {% if message %}
            <div>
                <h1>{{ message }}</h1>
            </div>
        {% endif %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
	</body>
</html>
