{% extends "LuxuryAuction/base.html" %}

{% block content %}

<div class="support-list-container">
  <ol class="support-list">
    <li>
      <div class="question-container">
        <div class="question">
          What is Live Luxury Auctions?
        </div>
        <br>
        <div class="answer">
          Luxury Auctions is a website that sells Luxury items.
        </div>
      </div>
    </li>
    <br>
    <br>
    <br>
    <li>
      <div class="question-container">
        <div class="question">
          What kind of items can I find on Luxury Auctions?
        </div>
        <br>
        <div class="answer">
          Luxury Auctions sells five categories of items. These categories are: Jewelry, Art, Cars, Movie Props, and Clothes.
        </div>
      </div>
    </li>
    <br>
    <br>
    <br>
    <li>
      <div class="question-container">
        <div class="question">
          I am interested in selling an item on the website. What should I do?
        </div>
        <br>
        <div class="answer">
          If you are interested in selling an item, please contact Luxury Auctions using the following email address: 
          <a href="mailto:LuxuryAuctions123@gmail.com"> LuxuryAuctions123@gmail.com</a>
        </div>
      </div>
    </li>
    <br>
    <br>
    <br>
  </ol>
</div>
{% endblock %}
